In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import get_data
import statsmodels
from simulate import simulatedata

Your browser has been opened to visit:

    https://accounts.google.com/o/oauth2/auth?client_id=695704595703-kho1v4q5lhtoqq268ckb4it0n08facat.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2F&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&access_type=offline&response_type=code

Authentication successful.

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
syms = ['BTCUSDT']
freq = '5min'
start_date = '2019-01-01'
end_date = '2021-01-01'

In [4]:
raw_data = get_data.get_data(syms, freq, start_date, end_date)
raw_data

{'BTCUSDT':                                open      high       low     close      volume  \
 time
 2019-01-01 00:00:00+00:00   3701.23   3703.72   3695.00   3696.32   85.572181
 2019-01-01 00:05:00+00:00   3696.30   3697.24   3689.88   3692.34   62.296581
 2019-01-01 00:10:00+00:00   3692.34   3698.93   3692.34   3697.31   43.105333
 2019-01-01 00:15:00+00:00   3697.91   3698.75   3693.00   3693.00   48.551084
 2019-01-01 00:20:00+00:00   3693.44   3695.98   3690.92   3692.18   47.706443
 ...                             ...       ...       ...       ...         ...
 2021-01-01 23:35:00+00:00  29323.75  29328.00  29304.38  29320.00   70.838993
 2021-01-01 23:40:00+00:00  29320.00  29325.89  29276.56  29276.80   89.994839
 2021-01-01 23:45:00+00:00  29276.80  29294.87  29252.60  29277.35   73.290144
 2021-01-01 23:50:00+00:00  29277.35  29314.72  29277.34  29300.21   79.583118
 2021-01-01 23:55:00+00:00  29300.39  29338.89  29300.38  29331.69  107.232024

                                    VWAP
 time
 2019-01-01 00:00:00+00:00   3698.073413
 2019-01-01 00:05:00+00:00   3692.223488
 2019-01-01 00:10:00+00:00   3696.945002
 2019-01-01 00:15:00+00:00   3695.337795
 2019-01-01 00:20:00+00:00   3692.605534
 ...                                 ...
 2021-01-01 23:35:00+00:00  29319.304734
 2021-01-01 23:40:00+00:00  29298.205264
 2021-01-01 23:45:00+00:00  29272.350757
 2021-01-01 23:50:00+00:00  29295.057233
 2021-01-01 23:55:00+00:00  29322.264611

 [210191 rows x 6 columns]}

In [5]:
dt = pd.DataFrame()
dt['close'] = raw_data['BTCUSDT']['close']
dt['ret'] = raw_data['BTCUSDT']['close'].pct_change()
dt

                              close       ret
time
2019-01-01 00:00:00+00:00   3696.32       NaN
2019-01-01 00:05:00+00:00   3692.34 -0.001077
2019-01-01 00:10:00+00:00   3697.31  0.001346
2019-01-01 00:15:00+00:00   3693.00 -0.001166
2019-01-01 00:20:00+00:00   3692.18 -0.000222
...                             ...       ...
2021-01-01 23:35:00+00:00  29320.00 -0.000128
2021-01-01 23:40:00+00:00  29276.80 -0.001473
2021-01-01 23:45:00+00:00  29277.35  0.000019
2021-01-01 23:50:00+00:00  29300.21  0.000781
2021-01-01 23:55:00+00:00  29331.69  0.001074

[210191 rows x 2 columns]

In [ ]:
order, seasonal_order = simulatedata.get_order(dt)
order, seasonal_order

C:\ProgramData\Anaconda3\lib\site-packages\pmdarima\arima\_validation.py:76: UserWarning: stepwise model cannot be fit in parallel (n_jobs=1). Falling back to stepwise parameter search.
  warnings.warn('stepwise model cannot be fit in parallel (n_jobs=%i). '

In [ ]:
model_params = simulatedata.fit_sarima(dt['ret'][1:], order, seasonal_order)

In [ ]:
t = simulatedata.simulate_sarima(dt['ret'][1:], order, seasonal_order, model_params, 2000)
t

In [ ]:
simulated_price_data = simulatedata.construct_price_series(t, dt['close'][0], dt.index[0], freq)

In [ ]:
simulatedata.Evaluate_performance(dt['close'], simulated_price_data, lags=30)